/********FICHE DE PRESENTATION************/

.fiche_back {
  height: auto;
  margin: auto;
  width: fit-content;
  background: var(--blanc1);
}
.f_container1 {
  display: flex;
  flex-direction: row;
}
.f_sidebar {
background: var(--blanc2);
    width: 685px;
    height: 60px;
    position: absolute;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: poppins;
    margin-left: -312px;
    margin-top: 313px;
    letter-spacing: 1px;
    font-size: 9px;
    font-weight: 800;
    padding: 0 10px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--couleur3);
}
.f_ava {
  width: 200px;
}
.f_side {
  width: 60px;
}
.f_groupe {
  color: var(--couleur2);
}
.f_faceclaim {
  color: var(--couleur3);
}
.f_main1 {
  display: flex;
  flex-direction: column;
}
.f_name {
  justify-content: space-between;
  display: flex;
  padding: 18px;
  font-size: 30px;
  width: 500px;
  border-bottom: 1px solid var(--couleur3);
}
.f_name1 {
  font-weight: 700;
  font-family: var(--font3);
  text-transform: uppercase;
}
.f_quote {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
b1 {
  color: var(--couleur2);
}
.f_part1_maininfos {
  background: var(--blanc2);
  border-bottom: 1px solid var(--couleur3);
  padding: 10px 35px 10px 35px;
  border-right: 1px solid var(--couleur3);
  width: 100%;
  height: 267px;
  overflow: auto;
}
c1 {
  background: var(--couleur1);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 5px;
  border-radius: 2px;
}
.f_part1 {
  display: flex;
  flex-direction: row;
}
.f_part1_subinfos {
width: auto;
    display: flex;
    margin-left: 60px;
    flex-direction: row;
    padding: 10px;
    gap: 15px;
    justify-content: space-evenly;
      border-bottom: 1px solid var(--couleur3);
}
.sub_1 {
  border: 1px solid var(--couleur3);
  height: 60;
  width: 100px;
  padding: 10px;
  background: var(--blanc2);
  align-content: center;
  text-align: center;
}
.sub_top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 5px 15px 5px;
}
tt1 {
  font-family: var(--font3);
  font-weight: 700;
  color: var(--couleur2);
}
.sub_icons {
  border-bottom: 1px solid var(--couleur3);
  border-top: 1px solid var(--couleur3);
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding: 15px 0px 17px 0px;
}
img.sub_icon1 {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  outline-offset: 3px;
  filter: grayscale(1);
  outline: 1px solid var(--couleur3);
}
.f_main2 {
  padding: 15px;
  height: 252px;
  overflow: auto;
  text-align: justify;
}
.f_middle_links {
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--couleur3);
  background: var(--gradient1);
}
.f_part2 {
  width: 700px;
  margin-left: 60px;
}
.f_maincontainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.main2_aes {
  width: 230px;
  padding: 10px;
  overflow: auto;
  text-align: justify;
}
c2 {
  background: var(--couleur3);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 5px;
  border-radius: 2px;
}
.f_perso {
  height: 100px;
  border-top: 1px solid var(--couleur3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: anchor-center;
}
.f_perso span {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}
.f_person2 {
  width: 184px;
  border-left: 1px solid var(--couleur3);
  height: 95px;
  padding: 10px;
  overflow: auto;
}

.chara_infos {padding: 15px;height: auto;border-top: 1px solid var(--couleur3);background-color: var(--blanc2);}
.tags_fiche2 {display: flex;justify-content: space-evenly;}
.avis_content {text-align: justify;background-color: var(--blanc1);height: 150px;width: 400px;overflow: auto;border: 1px solid var(--couleur2);padding: 15px;}
.avis_fiche_1{align-items: center;display:flex;justify-content: space-between;}
.avis_aes {width: 300px;text-align-last: center;}
.icone1_f {font-size: 10px;color: var(--textColorAccent);width: 90px;height: 70px;display: flex;border: 1px solid var(--couleur2);flex-direction: column;justify-content: center;align-items: center;background: var(--blanc2);border-radius: 10px;}
.icones_fiche {display: flex;justify-content: space-around;}
.sub_top {justify-content: space-evenly;padding: 15px 5px 15px 5px;}
.sub_top1 {padding: 11px;}

/********SUJETS DE BASE********/

.basic_container {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin: auto;
    width: 650px;
  background: var(--blanc1);
}
.basic_title {
  align-items: anchor-center;
  display: flex;
  gap: 15px;
  background: var(--blanc2);
  border-bottom: 1px solid var(--couleur3);
  height: 100px;
  padding: 15px;
}
.basic_tt {
  font-weight: 700;
  font-family: var(--font3);
  text-transform: uppercase;
  font-size: 30px;
}
b1 {
  color: var(--couleur2);
}
.text_basic {
  padding: 20px;
  text-align: justify;
}
.text_basic::first-letter {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 30px;
  float: left;
  color: var(--couleur2);
}
.side_container {
  display: flex;
}
.side_menu {
  width: 80%;
  padding: 20px;
  background: var(--blanc2);
  border-right: 1px solid var(--couleur3);
}


/************SUJET BOUTIQUE****************/
.shop_title {
  align-items: anchor-center;
  display: flex;
  gap: 15px;
  background: var(--blanc2);
  border-bottom: 1px solid var(--couleur3);
  height: 100px;
  padding: 15px;
}
.shope_tt {
  font-weight: 700;
  font-family: var(--font3);
  text-transform: uppercase;
  font-size: 30px;
}
b1 {
  color: var(--couleur2);
}
.text_shop {
  padding: 20px;
  text-align: justify;
}
.text_shop::first-letter {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 30px;
  float: left;
  color: var(--couleur2);
}
.shop_line {
  background: var(--blanc2);
  width: 90%;
  align-self: anchor-center;
  border-radius: 10px;
  padding: 15px;
}
.shop_soustitre {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid var(--couleur3);
}
span.pic_shop img {
  width: 60px;
}
.shop_object {
  align-items: anchor-center;
  border-radius: 10px;
  border-right: 1px solid var(--couleur3);
  border-left: 1px solid var(--couleur3);
  background: var(--blanc1);
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.shop_objectslist {
  display: flex;
  gap: 10px;
}
span.name_shop {
  align-content: center;
  text-align: center;
}
span.desc_shop {
  text-align: justify;
}
stt {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.card_object {
  width: 199px;
  height: 200px;
  text-align: center;
  align-items: anchor-center;
  border-radius: 10px;
  border-right: 1px solid var(--couleur3);
  border-left: 1px solid var(--couleur3);
  background: var(--blanc1);
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.card_content {
  padding: 20px;
}
.hover-text {
  border-right: 1px solid var(--couleur3);
  border-left: 1px solid var(--couleur3);
  padding: 10px;
  opacity: 0;
  text-align: justify;
  border-radius: 10px;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--textcoloraccent);
  background: var(--blanc2);
  width: 199px;
  height: 200px;
  margin-top: -162px;
}
.card_object:hover .hover-text {
  opacity: 1;
  transform: translateY(0);
}
tag {
  display: inline-block;
  padding: 5px 7px;
  font: 700 9px "Poppins", san-serif;
  color: var(--textcoloraccent, --couleur1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 7px 7px 0px 0px;
  background: var(--blanc1);
  border: 1px solid var(--borderw);
}
.inventory_objects_bag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.shop_container {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  width: fit-content;
  background: var(--blanc1);
}
.shop_title {
  align-items: anchor-center;
  display: flex;
  gap: 15px;
  background: var(--blanc2);
  border-bottom: 1px solid var(--couleur3);
  height: 100px;
  padding: 15px;
}
.shope_tt {
  font-weight: 700;
  font-family: var(--font3);
  text-transform: uppercase;
  font-size: 30px;
}
b1 {
  color: var(--couleur2);
}
.text_shop {
  padding: 20px;
  text-align: justify;
}
.text_shop::first-letter {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 30px;
  float: left;
  color: var(--couleur2);
}
.shop_line {
  background: var(--blanc2);
  width: 90%;
  align-self: anchor-center;
  border-radius: 10px;
  padding: 15px;
}
.shop_soustitre {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid var(--couleur3);
}
span.pic_shop img {
  width: 60px;
}
.shop_object {
  align-items: anchor-center;
  border-radius: 10px;
  border-right: 1px solid var(--couleur3);
  border-left: 1px solid var(--couleur3);
  background: var(--blanc1);
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.shop_objectslist {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
span.name_shop {
  align-content: center;
  text-align: center;
}
span.desc_shop {
  text-align: justify;
  width: 170px;
}
stt {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}


/***********************/

/*********RPS AVEC PETITE FLEUR ET TAGS**********/

.rp_title1 {display: flex;flex-direction: row;align-self: center;gap: 6px;}
.basic_rp{padding-top: 50px;flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 760px;
    background: var(--blanc1);}
.rp_icons1 {display: flex;justify-content: center;gap: 50px;margin-bottom: 30px;}
.icons_rp1{border-radius: 0 25% 0 25%;outline: 1px solid var(--couleur1);outline-offset: 5px;}
.title_rp1 {display: flex;flex-direction: column;gap:5px;align-self: center;}
.rp_tags1 {gap: 5px;display: flex;flex-direction: column;text-align: right;}

/*********RPS AVEC FLOU ET TRAITS COTE DROIT**********/

.rphna1{height: 643px;background: var(--transp5);display: flex;justify-content: space-between;margin: auto;}
.rplefthn1::-webkit-scrollbar{width:4px;}
.imgrightthn1{border-left: 1px solid var(--couleur1);display: flex;width:400px;}
.rplefthn1{padding-right: 15px;overflow: auto;text-align:justify;width:403px;margin: 20px;}
.rprightimghn1{filter: grayscale(1);border-radius: 0;width:310px;object-fit: cover;}
.picrphn1hove5 {backdrop-filter: blur(5px);height: 643px;width: 95px;position: absolute;z-index: 0;border-right: 1px solid var(--blanc1);}
.picrphn1hove4 {z-index: 1;height: 1px;background: var(--blanc1);width: 312px;position: absolute;margin-top: 100px;}
.picrphn1hove6 {height: 660px;background: var(--blanc1);width: 1px;position: absolute;right: 237px;z-index: 1;}
.picrphn1hove7 {height: 100px;background: var(--noirblanc1);width: 94px;position: absolute;z-index: 1;background: var(--couleur1);opacity: 0.5;}
.footer1hnrp2 {background: var(--noirblanc1);border-top: 1px solid var(--couleur1);align-content: center;display: flex;letter-spacing: 1px;font-size: 9px;text-transform: uppercase;padding: 20px;font-weight: bold;justify-content: space-around;}
.containerphn2{margin: auto;background: var(--blanc2);outline: 1px solid var(--couleur1);border: 1px solid var(--blanc1); width: 670px;}
.header1rphn1{background: var(--noirblanc1);border-top: 1px solid var(--couleur1);height: 70px;margin: auto;}
.quoteehn1rp {position: relative;transform: rotate(90deg);color: var(--blanc1);right: 160px;top: 340px;letter-spacing: 1px;font-size: 9px;text-transform: uppercase;border-radius: 5px;padding: 3px;text-align: justify;width: 430px;}
.titllehnarp1 {margin-top: 270px;font-size: 50px;position: absolute;text-align: left;;line-height: 50px;margin-left: 113px;width: 285px;color: var(--blanc1);z-index: 2;text-shadow: 2px 0 var(--couleur1), -2px 0 var(--couleur1), 0 2px var(--couleur1), 0 -2px var(--couleur1), 1px 1px var(--couleur1), -1px -1px var(--couleur1), 1px -1px var(--couleur1), -1px 1px var(--couleur1);}



